@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* vars */
:root {
    
    /*colors*/
    --mainBg: #302C2C;
    --secBg: #F0F0F0;
    --navBg: #D9D9D9;
    --footerBg: #1C1C1C;
    --button: #707070;

    /*fonts*/
    --header: 'Roboto' , Arial, sans-serif;
}

/* all */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--header);
    color: var(--secBg);
    background-color: var(--mainBg);
}

/* header */
div.logo {
    display: flex;
    align-items: center;
}

div.logo img {
    height: auto;
    width: 120px;
}

/* nav */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
    background-color: var(--navBg);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1!important;
}

header h2 {
    color: var(--footerBg);
}

.logo a {
    text-decoration: none;
}

nav.headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


nav.headerNav li{
    display: inline;
    padding: 1.2em;
    font-weight: 800;
}

nav ul li {
    list-style-type: none;
}

nav ul li:last-of-type {
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    padding-right: 2em;
    color: var(--footerBg);
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--button);
}


/*  USER ICON  */

.fa {
    color: var(--footerBg);
    font-size: 50px!important;
    cursor: pointer;
}

#usermenu {
    display: none;
    z-index: 2;
    position: fixed;
    right: 1em;
    top: 6em;
}

.menu-container {
    width: 100%;
    border: 1px solid var(--footerBg);
    background-color: var(--navBg);
    text-align: center;
    padding: 1em 0;
}

.menu-container div a:hover {
    text-decoration: underline;
}

.menu-container ul {
    list-style-type: none;
}

.menu-container ul li {
    padding: 0.5em 1em;
}

.nouser, .withuser {
    display: none;
}

.nouser a, .withuser a {
    text-align: center;
    text-decoration: none;
    color: var(--footerBg);
    
}

.nouser, .withuser {
    color: var(--mainBg);
}

/* hero */

section.hero {
    background: url(../assets/cover2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 83vh;
    position: relative;
    margin-top: 7em;
}


.hero-content {
    background-color: #111111ce;
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    position: relative;
    margin-top: 3em;
}

.hero-content h1 {
    margin-bottom: 1em;
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


section.hero button {
    margin-bottom: 2em;
}


/* featured */
section.featured, div.featured-content {
    height: 80vh;
}

.featured-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featured-text {
    padding: 6em 3em;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.featured-text p {
    color: var(--secBg)!important;
    padding: 1em 2em;
}

.firstp {
    margin-top: 1em;
    font-style: italic;
}

.featured-image {
   margin: 0 10em;

}

.featured-image img{
    height: 70vh;
    width: 100%!important;
    object-fit: cover;
    margin: 5em;
}

.featured-text a {
    margin: 2em;
}
section.cta {
    background: url(../assets/cover1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 83vh;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.cta div {
    background-color: #111111ce;
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cta h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f6f6f6;
    text-shadow: 2px 2px 5px rgba(32, 32, 32, 0.7);
}

.ctabtn {
    color: #f6f6f6 !important;
}

.cta p {
    font-size: 20px;
    font-style: italic;
    color: #f0f0f0!important;
}

.cta h2, p {
    padding-bottom: 1em;
}

.cta p {
    padding: 1.5em;
}

.cta button {
    width: 200px;
}

/*buttons*/

.btn {
    padding: 1em 3em!important;
    background-color: var(--button);
    border-radius: 4%;
    border: 2px solid var(--footerBg);
    text-transform: uppercase;
    color: var(--secBg);
    cursor: pointer;
}

.btn:hover {
    color: var(--button);
    background-color: var(--secBg);
    transition: 300ms ease-in-out;
    font-weight: 600;
}

.button-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not:hover {
    background-color: var(--button)!important;
}


.btn-secondary {
    padding: 1em 3em;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid var(--button);
    text-transform: uppercase;
    color: var(--mainBg);
    cursor: pointer;
}

.btn-secondary:hover {
    color: var(--navBg);
    background-color: var(--mainBg);
    transition: 300ms ease-in-out;
    font-weight: 600;
}

button.compute {
    display: block;
    margin: 1.5em 0!important;
    text-align: center;
    width: 200px;
    float: right!important;
}

.pay {
    float: right!important;
}

a.back {
    padding: 0.7em 1.9em;
    position: relative;
    top: 1.5em;
    text-decoration: none;
}


/********---------------ABOUT.PHP---------------********/
.about-section {
    padding: 5em;
}

.about-section h1 {
    margin-top: 3em;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.aboutp {
    color: var(--secBg)!important;
    max-width: 72%!important;
    margin: 0 auto;
}

.about-section p {
    text-align: center;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    color: var(--secBg);
}

.info-box {
    background-color: var(--secBg);
    padding: 1em;
    margin: 1.5em auto;
    border-radius: 15px;
    max-width: 70%;
    text-align: center;
}

.info-box h2, p {
    color: var(--mainBg)!important;
}

.info-box h2 {
    margin-bottom: 1em;
}

.team-heading {
    margin: 2em 0;

}

.team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    margin-top: 1.5em;
}
    
.team-member {
    text-align: center;
}

.team-member p {
    margin-top: 1em;
    font-weight: 600;
    color: var(--secBg)!important;
}

.team-img {
    width: 160px;
    height: 160px;
    background-color: var(--navBg);
    border: 2px solid var(--button);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/********---------------CONTACT.PHP---------------********/
/* Contact Section */
.contact-section {
    padding: 6em;
    max-width: 100%;
    margin: 0 auto;
}

.contact-section h1 {
    margin-top: 3em;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2em;
    text-align: center;   
}

.contact-container-whole {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    text-align: left;
    align-items: center;
}

.contact-form {
    padding: 2em;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    background-color: var(--secBg);
}

form label {
    display: block;
    text-align: left!important;
    color: var(--mainBg);
    margin: 0.5em;
}

.contact-details {
    max-width: 400px;
    margin: 0 auto;
}

.contact-details p {
    color: var(--navBg)!important;
    margin: 1.5em 0 1.5em 1em;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 2em;
}

.contact-item a {
    text-decoration: none;
    color: var(--secBg);
    font-weight: 500;
    font-style: italic;
}

.contact-item img {
    width: 24px;
    height: 24px;
}


.contact-map iframe {
    width: 80%;
    height: 60vh;
    border-radius: 8px;
    border: var(--navBg) 2px solid;

}


/********---------------LOGIN.PHP---------------********/
.login-main {
    padding: 5em;
}

.login-main h1{
    margin-top: 3em;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center!important;
    background-color: #f8d7da!important;
    color: #721c24!important;
    padding: 1em;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    margin: 1em auto;
    font-weight: bold;
    font-size: 24px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: var(--navBg);
    padding: 2em;
    border-radius: 8px;
    margin-top: 2em;
    text-align: center;
    width: 350px;
}

.avatar i {
    font-size: 80px;
    color: var(--mainBg);
    margin-bottom: 0.5em;
}

.login-box input {
    width: 90%;
    padding: 0.8em;
    margin: 0.5em 0;
    border: 1px solid var(--button);
    border-radius: 5px;
}

.alt-login {
    display: block;
    font-size: 0.9em;
    margin: 0.5em;
    text-decoration: none;
    color: var(--button);
    text-align: left;
    margin-bottom: 1.5em;
}

.submit {
    margin-top: 2em!important;
    width: 40%!important;
    text-transform: uppercase;
}


/********---------------SIGNUP.PHP---------------********/
.signup-section h1{
    margin-top: 5em;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 6em 2em;
}

.signup-section form {
    background-color: var(--navBg);
    padding: 2em;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin-top: 1.5em;
}

.form-group {
    margin-bottom: 1.5em;
    text-align: center;
}

.form-group h3{
    color: var(--mainBg);
    margin-bottom: 1.5em;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

.group2 {
    margin-top: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.column1, .column2 {
    width: 50%;
}

.column1 input[type=text], .column2 input[type=text]{
    width: 88%!important;
}

.signup-section label {
    font-weight: bold;
    display: block;
    margin: 0.5em 0;
}

.signup-section input[type=text]{
    width: 94%;
    padding: 0.8em;
    border: 1px solid var(--button);
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.signup-section input[type=password] {
    width: 94%;
    padding: 0.8em;
    border: 1px solid var(--button);
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.submit-container {
    display: flex;
    justify-content: center;
}
/********---------------HOME.PHP---------------********/

section.home {
    background-size: cover;
    height: 83vh;
    position: relative;
    margin-top: 7em;
}

.home-content {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    height: 83vh;
    width: 100%;
    background-color: #111111b4;
}

.home-content h1 {
    margin-bottom: 1em;
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

section.home button {
    margin-bottom: 1em;
}

.slideshow-container {
    max-width: 100%; 
    height: 83vh;
    position: relative;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.coverSlides {
    display: none;
    height: 83vh;
    width: 100%;
}

.coverSlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dots {
    text-align: center;
    margin-bottom: 1em;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.recent-rentals, .featured-cars {
    padding: 5em 4em;
    text-align: left;
    height: auto;
}

.recent-rentals h2, .featured-cars h2 {
    margin-bottom: 2em;
}

.recent-rentals {
    background-color: var(--mainBg);
    color: var(--secBg)!important;
}

.featured-cars {
    background-color: var(--secBg);
    color: var(--mainBg);
}

.cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

.cars h4 {
    color: var(--button)!important;
    font-weight: 600;
    font-size: 24px;
}

.car-box{
    background-color: #9e9e9e!important;
    width: 280px!important;
    height: 250px!important;
    border-radius: 10px;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: #b8b8b833 0px 2px 8px 0px;
}

.car-box-link {
    text-decoration: none!important;
    color: inherit !important;
}

.car-box:hover {
    background-color: #4d4d4dba!important;
}

.car-box ul {
    margin-left: 2.5em;
    margin-bottom: 0.5em;
    list-style-type: none;
    padding: 0; 
}

.car-box ul li {
    margin-bottom: 0; 
    line-height: 0.5;
}


.car-image {
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1em;
}

.car-image img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/********---------------CARLISTING.PHP---------------********/
.car-listing-title {
    margin-top: 6em;
    font-weight: bold;
    text-align: center;
}

.car-section {
    padding: 4em;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.car-section h2 {
    font-size: 1.8em;
}

.car-section:nth-child(even) {
    background-color: var(--mainBg);
}

.car-section:nth-child(odd) {
    background-color: var(--secBg);
}

.car-section:nth-child(odd) h2{
    color: var(--mainBg);
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.carousel button{
    background-color: transparent;
    border: transparent;
    font-size: 4em;
}

.carousel button:hover {
    color: var(--navBg);
}

.carousel button:active {
    color: var(--footerBg);
}

.car-container {
    display: flex;
    flex-direction: row;
    gap: 4em;
    overflow-x: hidden;
    white-space: nowrap; 
    width: 100%;
    padding-bottom: 10px;
}

.car-card-link {
    text-decoration: none!important;
    color: inherit !important;
}

.car-card {
    background-color: var(--button);
    width: 340px!important;
    height: 250px!important;
    border-radius: 10px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    overflow: hidden;
    box-shadow: #2a292933 0px 2px 8px 0px;
}

.car-card:hover {
    background-color: #757272ba!important;
    }

.car-card h3, 
.car-card p {
    margin: 8px 0 2px 16px;
    color: #ffffff !important;
    font-size: 1.1em;
    text-decoration: none;
}

.car-card img {
    height: 200px;
}

.car-card h3  {
    margin: 8px 0 2px 16px;
}

.car-card p {
    margin: 2px 0 8px 16px;
}


/** My Profile**/

.profile-section h1 {
    margin-top: 5em;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.gallery {
    background-color: var(--secBg);
    margin: 0 auto;
    border-radius: 8px;
    color: var(--footerBg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
    width: 40%;
}

.gallery img {
    width: 160px;
    height: 160px;
    background-color: var(--navBg);
    border: 2px solid var(--button);
    border-radius: 50%;
    float: left;
}

.history-section {
    margin: 4em;
}

.history-section h1 {
    margin-top: 2em;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: left;
}

.history-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    border: var(--secBg) 3px solid;
}

.history-section th, td {
    padding: 2em;
    text-align: left;
    font-weight: 600;
}

.history-section th {
    background-color: var(--footerBg);
    border: var(--secBg)  2px solid;
}

.history-section td {
    background-color: #383838;
    border: var(--secBg)  2px solid;
}

/*rent car 1*/

.details-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-color: var(--secBg);
    border-radius: 4px;
    margin: 12em auto 4em auto;
    width: 60%;
    padding: 2em;
    gap: 2em;
}

.details-img {
    width: 50%;
    max-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-img img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.details {
    width: 48%;
    color: var(--footerBg);
}

.details h2 {
    margin-bottom: 0.5em;
}

.details h2:last-of-type{
    margin-top: 1em;
}

.details h3 {
    margin-bottom: 0.5em;
}
 .details p {
    font-size: 14px;
    margin: 0 2em;
 }

.details-column {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    font-size: 14px;
}
.details-column ul li {
    padding-bottom: 0.5em;
}

.details ul {
    list-style-type: disc;
    padding-left: 2em;
    margin: 0;
}

.rent-now {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rent-buttons {
    width: 100%;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.unavailable {
    color: #bd6262!important;
    clear: both; 
    font-style: italic;
    font-weight: bold;
    margin-top: 1em!important;
    font-size: 1em;
    text-align: center;
}

.rent-buttons a, .rent-buttons button {
    width: fit-content;
}

/*rent2*/
.rent-container {
    width: 60%;
    margin: 12em auto 4em auto;
    display: flex;
    justify-content: space-between;
    background: var(--secBg);
    padding: 4em;
    border-radius: 4px;
    color: var(--footerBg);
}

.rent-container h2 {
    margin-bottom: 0.5em;
}

.rent-container h3{
    font-style: italic;
    color: var(--mainBg);
    font-weight: 300;
    margin-bottom: 0.5em;
}

.rent-container section {
    width: 45%;
}

.cost {
    border-right: var(--footerBg) 2px solid;
    padding-right: 3em;
}

.rent-container form {
    display: flex;
    flex-direction: column;
}

.form-group {
    text-align: left;
    margin-bottom: 0.5em;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 0.3em;
}

.rent-summary input {
    width: 86%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

a.back {
    margin-top: 10em!important;
}

.payment-method {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1.5em;
}

.payment-method label {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.form-row .form-group {
    width: 48%;
}

.cost-breakdown {
    border-top: 1px solid black;
    padding-top: 1em;
    margin-top: 1em;
}

.item {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1em;
}

.payment-method {
    margin-left: 2em;
}

.payment-details input:not(input[type=radio]) {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.rent-container input[type=submit] {
    width: 40%!important;
    margin: 1.5em;
    margin-right: 3.5em!important;
    float: right!important;
}

.button-container {
    display: flex;            
    justify-content: center; 
    margin-top: 1em;
}

.btn.payconf {
    width: 60%;
    display: block!important;
}

/*footer*/
footer {
    background-color: var(--footerBg);
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2em;

}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo a{
    text-decoration: none;
    color: var(--secBg);
}

.site-name {
    margin-left: 1em;
}

.logo-footer {
    height: 100px;
    width: 100px;
}

.footer-container ul{
    list-style-type: none;
    text-align: right;
}

.footer-container ul li {
    margin-bottom: 0.5em;
}

.footer-container ul li a{
    text-decoration: none;
    color: var(--secBg);
}
